.left{
  background-color:hsl(31, 77%, 52%);
  width: 280px;
  height: 500px;
  position: relative;
  left: 25px;
  display: inline-block;
}
.middle{
  background-color:hsl(184, 100%, 22%);
  width: 280px;
  height: 500px;
  position: relative;
  left: 20px;
  display: inline-block;
}
.right{
  background-color:hsl(179, 100%, 13%);
  width: 280px;
  height: 500px;
  position: relative;
  left: 10px;
  display: inline-block;
}
body{
  /*margin: 0;
  font-size: 15px;*/
  background-color:#F8F5F1;
  margin: 180px 180px 280px 280px;
}
.luxury{
  margin-left: 40px;
  margin-top: 50px;
}
.sedan{
  margin-left: 40px;
  margin-top: 50px;
}
.suv{
  margin-left: 40px;
  margin-top: 50px;
}
h1{
  margin-left: 40px;
  font-family: 'Big Shoulders Display', cursive;
  Weights:100;
  color: white;
}
p{
  margin-left: 40px;
  color: #F4F6FF;
  font-size: 14px;
  font-weight: bolder;
  text-align: justify;
  font-family: 'Big Shoulders Display', cursive;
  /*font-family: Lexend Deca;*/
}
.btn1 {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 104px;
   font-size: 21px;
   font-weight: 100;
   padding: 24px;
   background-color: hsl(31, 77%, 52%);
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 55px;
   margin-top: 70px;
}

.btn1:hover {
   border: solid #FFFFFF 1px;
   background: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   text-decoration: none;
}

.btn2 {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 104px;
   font-size: 21px;
   font-weight: 100;
   padding: 24px;
   background-color: hsl(184, 100%, 22%);
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 55px;
   margin-top: 70px;
}

.btn2:hover {
   border: solid #FFFFFF 1px;
   background: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   text-decoration: none;
}
.btn3 {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 104px;
   font-size: 21px;
   font-weight: 100;
   padding: 24px;
   background-color: #004241;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 55px;
   margin-top: 70px;
}

.btn3:hover {
   border: solid #FFFFFF 1px;
   background: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
   background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   text-decoration: none;
}
.btn1:hover {
  background-color: white;
  color: hsl(31, 77%, 52%);
}
.btn2:hover{
  background-color: white;
  color: hsl(184, 100%, 22%);
}
.btn3:hover{
  background-color: white;
  color: #004241;
}
